<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Moterfckin' main page{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block body %}
Welcome to the main page<br><br>
<a href="/logout">log out</a>
    <a href="/create">Add new damn notice</a>
<br><br>

    {% for notice in notices %}

        <p>{{ notice.user }}: <a href="/show/{{ notice.id }}"> {{ notice.title }} </a> Created: {{ notice.date|date('d-m-Y') }} |  <a href="/del/{{notice.id}}"> <== delete notice, mate</a><br></p>
        <a href="{{ path('app_comment_addcomment', {'id': notice.id}) }}"><button type="submit">Comment</button></a>
        <br><br>Comments:
        {% for comment in notice.comments %}
        <p>{{ comment.user }}:{{ comment.text }} || {{ comment.creationdate|date('d-m-Y')  }}</p>
        {% endfor %}
        <hr>
    {% endfor %}


{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
